<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>GCfm - Home</title>

    <!-- Bootstrap core CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">GCpedia - GCfm Service Desk</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="./index.html"
                >Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about.html">Who we are</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <img src="./callcentre1.jpg" height="500" style="width:100%" />
        <br />
        <br />
        <h1><img src="./gcfm.jpg" width="60" height="60" />Vision</h1>
        <p>
          Maintain sustainable financial and material management system support
          costs and reduce ongoing costs of supporting financial and material
          management systems. Establish core support services for the GCfm
          solution, extract better information, standardize and improve service
          levels through a service level agreement (SLA).
        </p>
        <br />

        <h4>
          <img src="./gcfm.jpg" width="30" height="30" />In-service support
          services
        </h4>
        <p>
          The service includes a single point of contact, in the form of a help
          desk to help desk approach through the GCfm Service desk. The
          following, but not limited to, support functions will be provided by
          the In-service support team:
        </p>
        <p>• General inquiries;</p>
        <p>• Incident management;</p>
        <p>• Problem management;</p>
        <p>• Master data management;</p>
        <p>• Training services.</p>
        <h4>
          <img src="./gcfm.jpg" width="30" height="30" />Functional application
          support services
        </h4>
        <p>
          Functional application support services are provided by the functional
          analysts and fall primarily in the application development and
          maintenance category. While continuously adhering to the principle of
          “intended use” of the SAP product, the functional analysts are
          responsible for:
        </p>

        <p>• Configuring and maintaining the GCfm Solution;</p>
        <p>• Defining the business requirements; and</p>
        <p>
          • Leading the process design/enhancements and system requirements
          documentation.
        </p>
        <p><b>By providing the following services:</b></p>

        <p>• System management services;</p>
        <p>• Configurable master data maintenance;</p>
        <p>• Reporting services;</p>
        <p>
          • Request escalation support (system monitoring and troubleshooting);
        </p>
        <p>• Change request management; and</p>
        <p>• Process execution.</p>
        <h4>
          <img src="./gcfm.jpg" width="30" height="30" />Technical application
          support services
        </h4>
        <p>
          Technical application support services are provided by technical
          analysts and fall within the application development and maintenance,
          production and operations computing, and IT security services
          categories. Technical analysts are responsible for the implementation,
          the monitoring, and the maintenance of IT systems, by providing the
          following services:
        </p>
        <p>• Configurable master data implementation;</p>
        <p>• Infrastructure management;</p>
        <p>• System monitoring and troubleshooting;</p>
        <p>• Security management;</p>
        <p>• Problem resolution to the technical environment;</p>
        <p>• Environment patching;</p>
        <p>• Performing transports and refreshes;</p>
        <p>• Maintaining GCfm Solution technical documentation;</p>
        <p>• SAP development (e.g. ABAP); and</p>
        <p>• SAP BASIS.</p>
      </div>
    </div>

    <footer class="bg-dark text-center text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-3 text-light" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2021 Copyright:
        <a class="text-light" href="https://mdbootstrap.com/"
          >GCfm Service desk</a
        >
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
